<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unicode Character</title>
    <link rel="stylesheet" href="/Unicode Character Value/static/css/index.css">
</head>
<body>
    <div class="container">
        <h2>Get Unicode Character Value</h2>
        <input type="text" id="input" maxlength="1" placeholder="Enter a character "/>
        <button onclick="detectchar()">Detect</button>
        <div id="result"></div>
    </div>
    <script src="/Unicode Character Value/static/js/script.js"></script>
</body>
</html>
