<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Calculator</title>
    <link rel="stylesheet" href="/BMI Calculator/static/css/index.css">
</head>
<body>
    <div class="container">
        <h1>Loan Calculator</h1>  
        <label >Loan Amount</label>
        <input type="number" id="loanamount" placeholder="Enter Loan Amount" required/>
        <label >Interest Rate (%)</label>
        <input type="number" id="interestrate" placeholder="Enter Interest Rate" required/>
        <label >Loan Term (In Months)</label>
        <input type="number" id="loanterm"placeholder="Enter Loan Term" required/>
        <button id="calculateloan">Calculate</button>
        <div id="result"></div>
    </div>
    <script src="/Loan Calculator/static/js/script.js"></script>
</body>
</html>


