body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #270f0f, #203a43, #2c3664);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.clock-container {
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.clock-container span {
    color: #00ff99;
    text-shadow: 0 0 10px rgba(0, 255, 153, 0.7), 0 0 20px rgba(0, 255, 153, 0.5);
}

.date-container {
    font-size: 2em;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5);
}
