body
{
    background-color: rgb(255, 113, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}




.container {
    text-align: center;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgb(0, 0, 0);
    background-color: #fff;
}

h2 {
    color: #ff69b4;
    margin-bottom: 20px;
}

.calculatelove {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    background-color: #ff69b4;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff85c0;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}